# Archivos de entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build outputs
dist/
build/

# Testing
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal
